div span {
    color: white;
    height: 80px; width: 80px;
    display: inline-flex;
    font-size: 30pt;
    align-items: center;
    justify-content: center;
    border-width: 3px;
    border-color: black;
    font-family: sans-serif;
}

.inputtext {
    height: 80px; width: 80px;
    display: block;
    font-size: 30pt;
    align-items: left;
    color: black;
}

.enter {
    width: 200px;
    font-size: 30pt;
    margin-right: 5px;
}
.bksp {
    width: 200px;
    font-size: 30pt;
    margin-left: 5px;
}

.allwrong {
    background-color: gray;
}

.wrongplace {
    background-color: #cc0;
}

.allright {
    background-color: green;
}

.onscreenkbd {
    margin-top: 3em;
    text-align: center;
}

.lastrow div {
    display: inline;
}
